streamlit
langchain
langchain_community
langchain_core
langchain-text-splitters
langchain_huggingface
sentence-transformers
faiss-cpu
ollama
streamlit
langchain
langchain-huggingface
sentence-transformers
huggingface-hub
transformers